@model IEnumerable<BookMate.Models.Cart>

@{
    ViewBag.Title = "My Cart";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            Book Name
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Books.BName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Books.BPrice)
        </td>
        <td>
            @Html.ActionLink("Remove", "Delete", new { id = item.CId })
        </td>
        <td>
            @Html.ActionLink("Buy Now", "BuyNow", new { id = item.CId })
        </td>
    </tr>
}

</table>
