@model IEnumerable<BookMate.Models.Books>

@{
    ViewBag.Title = "Book List";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            Book Name
        </th>
        <th>
            Author
        </th>
        <th>
            Publisher
        </th>
        <th>
            Published Year
        </th>
        <th>
            Category
        </th>
        <th>
            Image
        </th>
        <th>
            Price
        </th>
        <th>
            Stock
        </th>
        <th>
            Purchases
        </th>
        <th>
            Rating
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPublisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BYearOfPublication)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CCategoryName)
        </td>
        <td>
            <img src="@Url.Content(@item.BImage)" class="thumbnail" alt=@item.BName width="200" height="200">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BNPurchases)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BRating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BId }) |
            @Html.ActionLink("Details", "Details", new { id = item.BId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BId })
        </td>
    </tr>
}

</table>
