@model BookMate.Models.Books

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Books</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.BName, htmlAttributes: new { @class = "control-label col-md-3" })

        </dt>

        <dd>
            @Html.DisplayFor(model => model.BName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.BAuthor, htmlAttributes: new { @class = "control-label col-md-3" })

        </dt>

        <dd>
            @Html.DisplayFor(model => model.BAuthor)
        </dd>

        <dt>
            @Html.LabelFor(model => model.BPublisher, htmlAttributes: new { @class = "control-label col-md-3" })

        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPublisher)
        </dd>

        <dt>
            @Html.LabelFor(model => model.BYearOfPublication, htmlAttributes: new { @class = "control-label col-md-3" })

        </dt>

        <dd>
            @Html.DisplayFor(model => model.BYearOfPublication)
        </dd>

        <dt>
            @Html.LabelFor(model => model.BImage, htmlAttributes: new { @class = "control-label col-md-3" })

        </dt>

        <dd>
            <img src="@Url.Content(Session["image1"].ToString())" class="img-thumbnail" style="width:300px;" />
        </dd>

        <dt>
            @Html.LabelFor(model => model.BPrice, htmlAttributes: new { @class = "control-label col-md-3" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPrice)
        </dd>

        <dt>
            @Html.LabelFor(model => model.BQuantity, htmlAttributes: new { @class = "control-label col-md-3" })

        </dt>

        <dd>
            @Html.DisplayFor(model => model.BQuantity)
        </dd>

        <dt>
            @Html.LabelFor(model => model.BNPurchases, htmlAttributes: new { @class = "control-label col-md-3" })

        </dt>

        <dd>
            @Html.DisplayFor(model => model.BNPurchases)
        </dd>

        <dt>
            @Html.LabelFor(model => model.BRating, htmlAttributes: new { @class = "control-label col-md-3" })

        </dt>

        <dd>
            @Html.DisplayFor(model => model.BRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CCategoryName)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
