@model IEnumerable<BookMate.Models.Books>

@{
    ViewBag.Title = "Books";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Books", FormMethod.Get))
{
    <b> Search By </b>
    @Html.RadioButton("SearchBy", "BookName", true)<text>Book Name</text>
    @Html.RadioButton("SearchBy", "Category")<text>Category</text>
    <br />
    @Html.TextBox("Search")
    <input type="submit" value="search" />
}
<h3>@ViewBag.res</h3>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="@Url.Content(@item.BImage)" class="thumbnail" alt=@item.BName>
                <div class="caption">
                    <h3>
                        @Html.DisplayFor(modelItem => item.BName)
                    </h3>
                    <p>
                        @Html.DisplayFor(modelItem => item.BAuthor)
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => item.BCategory)
                    </p>
                    <h3>
                        &#8377; @Html.DisplayFor(modelItem => item.BPrice)
                    </h3>
                    @Html.ActionLink("Details", "Details", new { id = item.BId }, new { @class = "btn btn-info" })
                    @if (item.BQuantity > 0)
                    {
                        @Html.ActionLink("Add To Cart", "AddToCart", new { id = item.BId }, new { @class = "btn btn-success" })
                    }
                    else
                    {
                        <button type="button" class="btn btn-secondary" disabled>Out of Stock</button>
                    }
                    <p>
                    </p>
                </div>
            </div>
        </div>
    }
</div>


