@model IEnumerable<BookMate.Models.Books>

@{
    ViewBag.Title = "All Books";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Uploads/Book Images/logo 1.jpg" class="thumbnail" alt="Image">
                <div class="caption">
                    <h3>
                        @Html.DisplayFor(modelItem => item.BName)
                    </h3>
                    <p>
                        @Html.DisplayFor(modelItem => item.BAuthor)
                    </p>
                    <h3>
                        &#8377; @Html.DisplayFor(modelItem => item.BPrice)
                    </h3>
                    <p>
                        @Html.ActionLink("Details", "Details", new { id = item.BId }, new { @class = "btn btn-info" } )
                        @Html.ActionLink("Add To Cart", "AddToCart", new { id = item.BId }, new { @class = "btn btn-success" })
                    </p>
                </div>
            </div>
        </div>
    }
</div>


