@model IEnumerable<BookMate.Models.Purchase>

@{
    ViewBag.Title = "Orders List";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            Ordered On
        </th>
        <th>
            Book Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price Per Book
        </th>
        <th>
            Ordered Address
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Books.BName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.AAddressL1)<br />
            @Html.DisplayFor(modelItem => item.Address.AAddressL2)<br />
            @Html.DisplayFor(modelItem => item.Address.ACity),
            @Html.DisplayFor(modelItem => item.Address.ADistrict),
            @Html.DisplayFor(modelItem => item.Address.AState)<br />
            PIN-@Html.DisplayFor(modelItem => item.Address.APIN)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.PId }) 
        </td>
    </tr>
}

</table>
