@model IEnumerable<BookMate.Models.Purchase>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.AAddressL1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Books.BName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.AAddressL1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Books.BName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PId })
        </td>
    </tr>
}

</table>
