@model IEnumerable<BookMate.Models.Users>

@{
    ViewBag.Title = "Users List";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            Username
        </th>
        <th>
            Full Name
        </th>
        <th>
            Date of Birth
        </th>
        <th>
            E-mail
        </th>
        <th>
            Phone Number
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UFName) @Html.DisplayFor(modelItem => item.ULName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UDOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UPhone)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.UId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UId })
        </td>
    </tr>
}

</table>
