@model BookMate.Models.Users

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Username
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UUserName)
        </dd>

        <dt>
            Full Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UFName) @Html.DisplayFor(model => model.ULName)
        </dd>

        <dt>
            Date of Birth
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UDOB)
        </dd>

        <dt>
            E-mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UEmail)
        </dd>

        <dt>
            Phone Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPhone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UId }) |
    @Html.ActionLink("Back to Home", "Index", "Home")
</p>
